.header{
  display:flex;
  flex-direction:row;
  background-color: #666666;
  color: #f9f9f9;
}
.left-header{
  flex-grow: 1;
  padding-left: 40px;
}
.name{
  font-family:"Times New Roman";
}
.middle-header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  background-color: #f9f9f9;
  color:#666666;
}
.right-header{
  padding: 8px;
  white-space: nowrap;
}
.header-icon{
  min-width:30px;
  min-height:30px;
  padding:8px;
  margin-left: auto;
  margin-right: auto;
}