.chess-description{
    background-color:#f9f9f9;
    padding-left:8px;
    max-width:100%;
}
.chess-wrapper-vertical{
    background-color:#f9f9f9;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.chess-wrapper-horizontal{
    background-color:#f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width:800px;
}
.chessboard{
    min-width:40%;
    min-height:40%;
}
.blue-button{
    background-color: #4998cb;
    color:#f9f9f9;
    width: 100%;
    align-self: center;
    padding:8px;
    border:#4998cb;
}
.button-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.chess-descriptions-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}